* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cursor {
  cursor: pointer;
}

main {
  min-height: 87vh;
}

.h50 {
  min-height: 50vh;
}
#edit-btn{
  display: flex;
  flex-direction: column;
}
#description-pic-field{
  height: 200px;
}